<p>Please complete all of the steps on this page:</p>
<ul>
  <li>Start PHQ screener</li>
</ul>
<% @categories.each do |category| %>
  <%= link_to "Start PHQ screener", check_in_category_path(@check_in, category)%>
<% end %>